html
    head
        title Hola!
    body
        h1 Hola!
        ul
            li
                a(href='/dynamic/cati') Go to Cati!
            li
                a(href='/dynamic/marta') Go to Marta!
            li
                a(href='/dynamic/sara') Go to Sara!
