* {
    margin: 0;
}

section {
    height: 400vh;
    z-index: 0;
}

div {
    position: fixed;
    top: 50vh;
    left: 50vw;
}

.circle {
    z-index: 1;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.square {
    width: 20vmin;
    height: 20vmin;
    z-index: 2;
    background-color: lightblue;
    display: none;
    animation: roll 0.75s infinite linear;
}

section:nth-child(1) { background-color: lightgreen; }
section:nth-child(2) { background-color: lightblue; }
section:nth-child(3) { background-color: lightpink; }

@keyframes roll {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
