html
    head
        title= 'Como quieres ir a ' + ciudad + '?'
    body
        form
            input(
                type='text'
                placeholder='Método de viaje'
            )
            input(type='submit' value='Ir')
        script(src='ciudad.js')
