html
    head
        title Donde quieres viajar?
    body
        form
            input(
                type='text'
                placeholder='Donde quieres viajar?'
            )
            input(type='submit' value='Ir')
        script(src='/ajax.js')
        script(src='/index.js')
