html
    head
        title Hola!
        link(rel='stylesheet' href='/style.css')
    body
        main
            form
                input#color(type='text' placeholder='Elige un color')
                input#num(type='number' placeholder='Elige un número')
                input(type='submit' placeholder='Hecho!')
            p
                a(href='/resultados') Resultados
        script(src='/ajax.js')
        script(src='/script.js')
